includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    parallel:
        maximumNumberOfProcesses: 1
    treatPhpDocTypesAsCertain: false
    level: 5
    paths:
        - inc/
        - museum-railway-timetable.php
    bootstrapFiles:
        - phpstan-bootstrap.php
